header {
    padding: 10px;
}

body {
    color: black;
    background-color: beige;
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
}
nav {
    padding: 10 px;
}
img {
    width: 500px;
    height: 200px;
    object-fit: cover;
    padding: 10px;
}
#telegram-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
div {
    border: 2px solid lightcoral;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
footer {
    padding: 10px;
    color: white;
    background-color: lightcoral;
    border-radius: 10px;
    margin: 10px;
}
nav {
    padding: 10px;
}
h1{
    color: rgb(247, 103, 103);
    letter-spacing: 3px;
    padding: 10px;
}
h2{
    color: rgb(247, 103, 103);
}
h3 {
    padding: 10px;
    margin: 0px;
}
#our-team {
    width: 900px;
    height: 500px;
    object-fit: cover;
    padding: 10px;
}
a {
    padding: 10px;
}
#in-to-middle {
    padding: 50px;
}
#our-prices {
    width: 1100px;
    height: 1300px;
    object-fit: cover;
    padding: 10px;
}