@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Regular"), 
        url("../font/Inter-Regular.woff2") format("woff2"),
        url("../font/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Oswald-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Oswald-Medium"), 
        url("../font/Oswald-Medium.woff2") format("woff2"),
        url("../font/Oswald-Medium.woff") format("woff");
}

body {
    font-family: 'Inter-Regular', Times, serif;
}

.bg-aqua {
    background-color: #1ABC9C;
}

.bg-light-green {
    background-color: #DCFFEB;
}

.text-black {
    color: #000
}

.flex {
    display: flex;
}

.flex-justify--between {
    justify-content: space-between;
}

.header {
    width: 100%;
    padding: 15px 70px;
    align-items: center;
}

/* .header div {
    display: flex;
    gap: 20px;
}

.header nav {
    display: flex;
    gap: 20px;
} */

.gap-20 {
    gap: 20px;
}

.nav {
    font-size: 25px;
    line-height: 30px;
    /* font-family: 'Inter-Regular', Times, serif; */
}

/* .nav a {
    text-decoration: none;
    font-family: 'Inter-Regular', Times, serif;
} */

.header > img {
    width: 101px;
    height: 26px;
    object-fit: contain;
    /* object-position: center; */
}

.footer {
    padding: 84px 70px 76px;
}


.projects > h2,
.footer > h2 {
    font-size: 35px;
    line-height: 42px;
    font-family: 'Inter-Regular', Times, serif;
    margin-bottom: 55px;
}

.projects > h2 {
    margin-bottom: 50px;
}

.flex-direction--column {
    flex-direction: column;
}

.gap-25 {
    gap: 25px;
}

.contacts-item{
    align-items: center;
}

.contacts-item address {
    text-align: center;
    font-style: normal;
}

.contacts-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.contacts-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.text-red {
    color: #F7654A;
}

.text-grey {
    color: #999;
}

.phone-item {
    align-items: center;
}

.phone-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.phone-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.clock-item {
    align-items: center;
}

.clock-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.clock-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.mail-item {
    align-items: center;
}

.mail-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.mail-item--icon {
    color: #F7654A;
    font-size: 48px;
}


.about-us {
    min-height: 695px;
}

.about-us img, 
.about-us div {
    width: 50%;
}

.about-us div {
    padding: 20px 70px 20px 62px;
    align-items: center;
    justify-content: center;
}

.about-us div > p {
    text-align: justify;
    margin-top: 23px;
}

.about-us img {
    object-fit: cover;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.projects  {
    padding: 124px 65px 126px 64px;
}

.gap-projects {
    gap: 37px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.project-card {
    width: calc((100% - 2*37px)/3);  /* это вариант с использованием динамических расчетов - мы с подобным еще не знакомы, но для общего ознакомления можно изучить*/
    /* width: 31.525%; если дизайнер говорит, что карточки динамической ширины и на основном разрешении и больше их всегда должно быть 3 */
    /* width: 436px; если дизайнер говорит, что карточки всегда фиксированной ширины и меняется их количество в строке на разных разрешениях */
    min-height: 376px;
    color: #fff;
    background-image: url("../imgs/arena.png");
    background-position: center;
    background-size: cover;
    justify-content: flex-end;
    padding: 0px 36px;
}


.project-card h3 {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.project-card p {
    margin-bottom: 2px;
    font-size: 16px;
    line-height: 22px;
}
