@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Regular"), 
        url("../font/Inter-Regular.woff2") format("woff2"),
        url("../font/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Oswald-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Oswald-Medium"), 
        url("../font/Oswald-Medium.woff2") format("woff2"),
        url("../font/Oswald-Medium.woff") format("woff");
}

.bg-aqua {
    background-color: #1ABC9C;
}

.flex {
    display: flex;
}

.flex-justify--between {
    justify-content: space-between;
}

.header {
    width: 100%;
    padding: 15px 70px;
    align-items: center;
}

.header div {
    display: flex;
    gap: 20px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.gap-20 {
    gap: 20px;
}

.nav {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Inter Regular', Times, serif;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.header > img {
    width: 101px;
    height: 26px;
    object-fit: contain;
    object-position: center;
}