@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Regular"), 
        url("../font/Inter-Regular.woff2") format("woff2"),
        url("../font/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Oswald-Medium";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Oswald-Medium"), 
        url("../font/Oswald-Medium.woff2") format("woff2"),
        url("../font/Oswald-Medium.woff") format("woff");
}

body {
    font-family: 'Inter Regular', Times, serif;
}

.bg-aqua {
    background-color: #1ABC9C;
}

.bg-light-green {
    background-color: #DCFFEB;
}

.text-black {
    color: #000
}

.flex {
    display: flex;
}

.flex-justify--between {
    justify-content: space-between;
}

.header {
    width: 100%;
    padding: 15px 70px;
    align-items: center;
}

.header div {
    display: flex;
    gap: 20px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.gap-20 {
    gap: 20px;
}

.nav {
    font-size: 25px;
    line-height: 30px;
    /* font-family: 'Inter Regular', Times, serif; */
}

/* .nav a {
    text-decoration: none;
    font-family: 'Inter Regular', Times, serif;
} */

.header > img {
    width: 101px;
    height: 26px;
    object-fit: contain;
    object-position: center;
}
.footer {
    padding: 84px, 70px, 76px;
}

.footer > h2 {
    font-size: 35px;
    line-height: 42px;
    font-family: 'Inter Regular', Times, serif;
    margin-bottom: 55px;
}

.flex-direction--column {
    flex-direction: column;
}

.gap-25 {
    gap: 25px;
}

.contacts-item{
    align-items: center;
}

.contacts-item address {
    text-align: center;
    font-style: normal;
}

.contacts-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.contacts-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.text-grey {
    color: #999;
}

.about-us {
    min-height: 695px;
}

.about-us img,
.about-us div {
    width: 50%;
}

.about-us div {
    padding: 20px 70px 20px 62px;
    align-items: center;
    justify-content: center;
}

.phone-item {
    align-items: center;
}

.phone-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.phone-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.clock-item {
    align-items: center;
}

.clock-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.clock-item--icon {
    color: #F7654A;
    font-size: 48px;
}

.mail-item {
    align-items: center;
}

.mail-item--text {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Oswald-Medium', Times, serif;
}

.mail-item--icon {
    color: #F7654A;
    font-size: 48px;
}
