main {
    position: relative;
    padding: 50px;
    height: 100vh;
}

.square {
    width: 600px;
    height: 300px;
    background-color: #999999;
}

.red {
    background-color: #ff0000;
}

.relative {
    position: relative;
    top: 50px;
    left: 50px;
}

.absolute {
    position: absolute;
    top: 100px;
    left: 100px;
}

.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    
}

.modal-content {
    width: 50%;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.chapter {
    width: 100%;
    max-width: 80vw;
}

.chapter:not(:last-of-type){
    margin-bottom: 32px;
}

.separator {
    background-color: darkgreen;
    height: 2px;
    margin-bottom: 12px;
}

.text {
    word-wrap: break-word;
    font-size: 14px;
    line-height: 20px;
}

.text:not(:last-child){
    margin-bottom: 20px;
}


.text--quote {
    font-style: italic;
}

.sticky {
    padding: 30px;
    background-color: rgb(30, 105, 60);
    position: sticky;
    top: 50 px;
    z-index: 10;
} 